@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:ital,wght@1,300;1,400;1,500;1,600&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{margin:0; padding:0;}
body{
	font-family:  'Montserrat', sans-serif;
	font-size: 16px;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Work Sans', sans-serif;
}
section{
	padding:80px 0px;
	
}


.topBarMain{
	background: #f5f5f5;
}
.container {
    width: 1140px;
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.phone {
    width: 230px;
    float: left;
    padding: 15px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.email {
    width: 694px;
    float: left;
    padding: 15px 10px;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
}

.social {
    width: 142px;
    float: left;
    padding: 0px 0px;
    transition: 0.3s;
}

.social i:hover {
    color: #ff5200;
}

.topbarWapper {
    overflow: hidden;
}

.social a {
    display: block;
    float: left;
    padding: 15px;
    border: 1px solid #ddd;
    color: #2b2b2b;
}

.phone i {
    color: #ff5200;
}

.email i {
    color: #ff5200;
}




.primaryWrapper {
    overflow: hidden;
    width: 100%;
}

.logo {
    width: 192px;
    float: left;
    margin-top: 15px;
}

.menu {
    width: 948px;
    float: left;
}

ul.mainMenuItem {
    list-style: none;
    float: right;
}

ul.mainMenuItem li {
    float: left;
}

ul.mainMenuItem li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: oswald;
    font-size: 16px;
    display: block;
    padding: 30px 30px;
    color: #343434;
    font-weight: 500;
    transition: 0.5s;
}
ul.mainMenuItem li a:hover {
    color: #ff5200;
}
img {
    width: 150px;
}
#homeSlider{
	background:linear-gradient(#00000065,#00000065), url(../image/Project.jpg);
	background-repeat: no-repeat;
    background-position: center;
	padding: 0;
}




.slidercontent {
    color: white;
    width: 600px;
}

.slidercontent h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 120px;
    float: left;
}

.slidercontent p {
    font-weight: 700;
    line-height: 25px;
    width: 480px;
    margin-bottom: 30px;
}

button#sliderWorkButton {
    background: #ff5200;
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 16px;
    border-radius: 3px;
    font-weight: 600;
    margin-bottom: 30px;
}


.sliderNav {
    width: 60px;
    margin: auto;
    padding: 30px;
    place-items: center;
}

.sliderNav span {
    width: 10px;
    height: 10px;
    background: transparent;
    border: 4px solid #ddd;
    display: block;
    border-radius: 100%;
    cursor: pointer;
    float: left;
    margin: 5px 5px;
}
.sliderNav span:last-child{
	background: #ff5200;
	border-color: #ff5200;
}
#services{
	background: #f5f6f6;
	
}


.sboxWrapper {
    overflow: hidden;
}

.singleBox {
    width: 240px;
    background: white;
    padding: 10px;
    float: left;
    margin-right: 25px;
	transition:0.3s;
}
.singleBox:hover{
	background: #fb5200;
	color: white !important;
	cursor: pointer;
}
.singleBox i {color: #fb5200;}

.singleBox:hover h2, i{
	color:white;
}
.singleBox:hover .sboxIcon i {
	color: white;
}


.singleBox:hover .sboxLink a{
	color: white !important;
}
.singleBox:hover i.fa-arrow-right{color:white !important}
.sboxTitle {
    text-align: center;
    width: 150px;
    margin: auto;
}

.sboxTitle h2 {
    font-size: 19px;
    color: #333;
    letter-spacing: -1.1px;
    line-height: 21px;
    text-transform: uppercase;
    margin: 30px 0px;
}

.sboxIcon {
    text-align: center;
    font-size: 40px;
    color: #fb5200;
    margin: 30px 0px;
}

.sboxDesc {
    text-align: center;
    margin: 30px 0px;
}

.sboxLink {
	text-align: center;
	margin: 30px 0px;
	}

.sboxLink a {
    text-decoration: none;
    color: #fb5200;
    font-weight: 500;
    margin: 25px 0px;
}
.sboxactive{
	background: #fb5200;
	color: white
}
.singleBox .fa-arrow-right{color:#fb5200;}
.sboxactive h2{color:white;}
.sboxactive a{color:white;}
.sboxactive i{color:white;}
.sboxactive i.fa-arrow-right{color:white;}

.teamImage {
    width: 535px;
    float: left;
}

.teamContents {
    overflow: hidden;
}

.teamImage img {
    max-width: 100%;
}

.teamImage img {
    max-width: 100%;
}

.teamImage img {
    width: 100%;
}

.temDetails {
    width: 535px;
    float: right;
}

.titleDesc h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.titleDesc p {
    color: #666;
    line-height: 25px;
    margin-bottom: 15px;
}
.teamFacilities ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 260px;
    float: left;
}

.teamFacilities ul li {
    line-height: 40px;
	transition: 0.3s;
}

.teamFacilities ul li a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

.teamFacilities {
    overflow: hidden;
    margin-bottom: 25px;
}
.teamContactBtn a {
    background: #fb5200;
    color: white;
    padding: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    display: block;
    width: 145px;
    text-align: center;
    border-radius: 3px;
}

.teamFacilities ul li a i {
    
    color: #333;
    font-size: 12px;
}
.teamFacilities ul li:hover a{
	color:#fb5200;
}
.teamFacilities ul li:hover i{
	color:#fb5200;
}
.fa-angle-right:hover{
	color:#fb5200;
}
#whyChoosUs{
	
	background:  linear-gradient(#00000073,#00000073),url(../image/why-choose-us1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.iconWrapper {
    overflow: hidden;
}

.singleIcons {
    width: 210px;
    text-align: center;
    color: white;
	float:left;
	margin-right: 100px;
}
.singleIcons h2 {
    font-size: 50px;
    margin: 15px 0px;
    font-weight: 900;
}
i.fa-solid.fa-users {
    font-size: 35px;
}
.sIcon h2 {
    font-size: 60px;
    font-weight: 900;
    margin: 10px 0px;
    font-family: arial black;
}

.sIcon h4 {
    font-size: 20px;
}
.singleIcons:last-child {
    margin-right: 0px;
}

#blogPosts{
	background: #f5f6f6;
}
.secTitle {
    text-align: center;
    margin-bottom: 60px;
}

.secTitle h2 {
    font-size: 40px;
    margin-bottom: 10px;
    position: relative;
    padding-bottom: 10px;
}

.secTitle h2:after {
    content: "";
    bottom: 0;
    position: absolute;
    background: #fb5200;
    width: 70px;
    border-bottom: 4px solid #fb5200;
    left: 50%;
    transform: translateX(-50%);
}

p {}

.secTitle p {
    width: 550px;
    margin: auto;
    line-height: 25px;
    font-size: 17px;
    color: #666;
}
.postWrapper {
    overflow: hidden;
}

.singlePost {
    width: 258px;
    overflow: hidden;
    float: left;
    margin-right: 35px;
}
.singlePost:last-child{
	margin-right: 0px;
}
.singlePost img {
    width: 100%;
}

.postImg {
    margin-bottom: 20px;
}

.postInfo p {
    margin-top: 10px;
    color: #666;
    line-height: 23px;
}
.singleTable {
    width: 298px;
    margin-right: 30px;
    overflow: hidden;
    float: left;
    border: 1px solid #f7efef;
    padding: 30px;
}

.singleTable h3 {
    font-size: 25px;
}

.singleTable h1 {
    font-size: 40px;
    font-weight: 900;
    margin: 8px 0px;
}

.singleTable h1 span {
    font-size: 25px;
    margin-left: 10px;
    font-weight: 700;
    font-family: arial;
}
.singleTable ul {
    list-style: none;
}

.singleTable ul li {
    line-height: 40px;
    color: #777;
}

.singleTable ul li i {
    color: #fb5200;
    font-size: 14px;
}

button#tableGetStarted {
    background: #fb5200;
    padding: 15px 30px;
    border: none;
    color: white;
    font-weight: 800;
    font-family: 'Oswald';
    font-size: 15px;
    letter-spacing: 1px;
    margin: 10px 20px;
    border-radius: 3px;
}

button#tableGetStarted:hover {
    color: white;
    background: #333;
    cursor: pointer;
}
.tableList {
    display: table;
	background: #FAFAFA;
}
.singleTable:last-child {
    margin-right: 0px;
	box-shadow: 20px 0px 10px #f1f1f1;
}
.singleTable:first-child {
    box-shadow: -20px 0px 10px #f1f1f1;
}
.idealeftImg{
	background: url(../image/s02.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	
}
section#ideas {
    overflow: hidden;
    padding: 0px;
    height: 600px;
}

.idealeftImg {
    width: 50%;
    float: left;
    height: 493px;
}

.rightContent {
    width: 50%;
    float: right;
    overflow: hidden;
    background: #222222;
    color: white;
}
.rContentTitle {
    padding: 70px;
    padding-bottom: 0;
    margin-bottom: 40px;
}

.rContentTitle h1 {
    font-size: 35px;
    margin-bottom: 15px;
    font-family: 'Oswald';
}

.rContentIcons {padding: 0px 70px;overflow: hidden;padding-bottom: 70px;}

.riconSingle {
    width: 400px;
    float: left;
    overflow: hidden;
    margin-bottom: 45px;
}

.rIcon {
    width: 66px;
    overflow: hidden;
    float: left;
    font-size: 49px;
}

.rIconTitle {
    width: 300px;
    overflow: hidden;
    float: right;
}

.rIcon i {
    color: #fb5200;
}

.rIconTitle h2 {
    font-size: 20px;
    font-family: 'Oswald';
    margin-bottom: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.rIconTitle h2:hover {
    color: #fb5200;
}
.teamPersons {
    overflow: hidden;
}

.singlePerson {
    margin-right: 25px;
    width: 260px;
    overflow: hidden;
    float: left;
}

.singlePerson:last-child {
    margin-right: 0px;
}

.singlePerson:last-child {
    margin-right: 0px;
}

.singlePerson:last-child {
    margin-right: 0px;
}

.personImg img {
    width: 100%;
	transition:0.3s;
}

.singlePerson:last-child {
    margin-right: 0px;
}

.singlePerson:last-child {
    margin-right: 0px;
}

.singlePerson:last-child {
    margin-right: 0px;
}

.personinfo {
    padding: 22px 15px;
    text-align: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.personinfo h3 {
    font-size: 20px;
    font-family: 'Oswald';
}

.personinfo p {
    font-size: 12px;
    margin-top: 8px;
    color: #777;
}
.joinTeamButton {
    margin-top: 70px;
    display: grid;
    place-items: center;
}

.joinTeamButton button {
    padding: 15px 20px;
    background: #333;
    border: none;
    color: white;
    border-radius: 5px;
    letter-spacing: 1px;
    font-family: 'Oswald';
    font-size: 18px;
    transition: 0.3s;
	cursor:pointer;
}

.joinTeamButton button:hover {
    
	background: #fb5200;
    color: white;
}
.personImg {
    overflow: hidden;
    position: relative;
}

.socialIcons {
    width: 168px;
    position: absolute;
    bottom: 50px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.socialIcons a {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	padding: 6px;
	display: grid;
	float: left;
	place-items: center;
	text-decoration: none;
	margin: 5px;
	transition: .3s;
	overflow:hidden;
}
.socialIcons a:first-child{
	background:#3b5998;
	opacity:0;
	transition: .90s;
}
.socialIcons a:nth-child(2){
	background:#00acee;
	opacity:0;
	transition: .70s;
}
.socialIcons a:nth-child(3){
	background:#db4a39;
	opacity:0;
	transition: .50s;
}
.socialIcons a:last-child{
	background:#0e76a8;
	opacity:0;
	transition: .30s;
}
.socialIcons a:hover{
	background:white;
	color: #333;
}
.singlePerson:hover .socialIcons a:first-child{
	transform: translateY(20px);
	opacity: 1;
}
.singlePerson:hover .socialIcons a:nth-child(2){
	transform: translateY(20px);
	opacity: 1;
}
.singlePerson:hover .socialIcons a:nth-child(3){
	transform: translateY(20px);
	opacity: 1;
}
.singlePerson:hover .socialIcons a:last-child{
	transform: translateY(20px);
	opacity: 1;
}
.singlePerson:hover .personImg img{
	transform: scale(1.1)
}
.singlePerson:hover{
	cursor: pointer;
}